#mapZoomGroup{
	width: 3em;
	display: inline-block;
	position: absolute;
	bottom: 7em;
	right: 0.5em;
	opacity: .75;
	transform: translateX(5em);
	transition: .3s ease-out;
	z-index: 2;
	cursor: pointer;
}

.mapReady #mapZoomGroup, .mapReady #mapSat{
	transform: translateX(0);
}

#mapIn, #mapOut, #mapMan{
	display: block;
	padding: 1em;
	background-color: white;
	color: black;
	border: 1px solid #aaa;
	background-size: 75%;
	border-radius: 0.5em .5em 0 0;
}

#mapOut{
	background: white url(../img/horizontal.svg) center no-repeat;
	background-size: 75%;
	border-top: 0;
	border-radius:  0 0 0.5em .5em;
}

#mapIn{
	background: white url(../img/add.svg) center no-repeat;
	background-size: 75%;
}

#mapMan{
	background: white url(../img/circumference.svg) center no-repeat;
	background-size: 50%;
	border-top: 0;
	padding: .75em 1em;
}

#mapSat{
	background: rgba(255, 255, 255, 1);
	border: 1px solid #aaa;
	display: inline-block;
	border-radius: 3em;
	padding: .5em;
	opacity: .75;
	position: absolute;
	bottom: 7em;
	left: 0.5em;
	z-index: 2;
	cursor: pointer;
	transform: translateX(-5em);
	transition: .3s ease-out;
}

#mapSat:hover, #mapZoomGroup:hover{
	opacity: 1;
}

#mapSat img{
	height: 3em;
}